repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: forbid-new-submodules
      - id: check-executables-have-shebangs
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 8.2.1.1
    hooks:
      - id: buildifier
      - id: buildifier-lint
